<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <!-- init-method : process of initializing of the object
         destroy-method : process of deleting of the object
         factory-method : creates objects throw the method, not constructor
            (by default scope = singleton)
    -->
    <bean id="testBean"
          class="ua.lpnu.spring.bean.TestBean"
          init-method="initialization"
          destroy-method="destroying"
          factory-method="creatableMethod">
        <constructor-arg value="Refactoring"/>
    </bean>

    <bean id="musicRock"
          class="ua.lpnu.spring.music.RockMusic">
    </bean>

    <bean id="musicClassic"
          class="ua.lpnu.spring.music.ClassicalMusic">
    </bean>

    <bean id="musicJazz"
          class="ua.lpnu.spring.music.JazzMusic">
    </bean>

    <bean id="musicPlayer"
          class="ua.lpnu.spring.music.MusicPlayer"
          scope="prototype"
          init-method="initialization"
          destroy-method="destroying">
        <property name="musicList">
            <list value-type="ua.lpnu.spring.music.Music">
                <ref bean="musicClassic"/>
                <ref bean="musicRock"/>
                <ref bean="musicJazz"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>